.wonderfull{
    width: 100%;
    height: 295px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    box-sizing: border-box;
    .wonderfull-center{
        width: 80%;
        height: 100%;
        background-color: #D92F4E;
        border-radius: 16px;
        box-sizing: border-box;
         .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
      }
      .swiper-slide-item{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-top: 10px;
        .swiper-slide-item-image-1{
          width: 88px;
          height: 88px;
          margin: 0 auto;
          display: block;
        }
        .clack{
          width: 100%;
          display: flex;
          justify-content: center;
          column-gap: 5px;
          margin-top: 10px;
          flex-direction: row-reverse;
          align-items: center;
          .hours,.minutes,.seconds{
            font-family: var(--font-number);
            background-color: white;
            padding: px;
            border-radius: 8px;
          }
          span{
            color: white;
          }
        }
        .swiper-slide-item-image-2{
          width: 80px;
          height: 80px;
          display: block;
          margin: 5px auto;
        }
        a{
          display: block;
          text-decoration: none;
          color: white;
          font-family: var(--font-family);
          font-size: 10px;
        }
      }
      .swiper-slide-wonder{
        width: 100%;
        height: 100%;
        background-color: white;
        box-sizing: border-box;
        img{
          width: 112px;
          height: 122px;
          display: block;
          margin: 0 auto;
        }
        p{
          font-size: 10px;
          font-family: var(--font-family);
          color: gray;
          line-height: 20px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          width: 80%;
          margin: 10px auto;
        }
        .price{
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          .price-real{
             font-family: var(--font-number);
             font-size: 14px;
             display: flex;
             flex-direction: row-reverse;
             align-items: center;
             padding-left: 5px;
             img{
              width: 17px;
              height: 17px;
             }
          }
          .price-discount{
            font-size: 12px;
            font-family: var(--font-number);
            padding-right: 5px;
            background-color: #D92F4E;
            color: white;
            margin-right: 5px;
            border-radius: 15px;
            padding: 3px;
          }
        }
        .real{
          width: 80%;
          color: gray;
          font-size: 12px;
          font-family:var(--font-number);
          margin-right: 25px;
          text-decoration: line-through;
        }
      }
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    }
}